@import 'reset';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

// Debug styles
.crosshair {
    position: fixed;
    bottom: 24px;
    left: 24px;
    width: 128px;
    height: 128px;
    background: red;
}

